html {
    padding: 0;
    margin: 0;
    display: flex;
}

body {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/* 竖屏 */
@media screen and (orientation: portrait) {
    body {
        max-width: 30rem;
    }
}

/* 横屏 */
@media screen and (orientation: landscape) {
    body {
        max-width: 60rem;
    }
}

footer {
    color: gray;
    font-size: 0.8rem;
    margin: 0rem 2rem;
    text-align: right;
    height: 1.5rem;
    justify-content: end;
    display: flex;
    align-items: center;
}

footer a {
    color: gray;
    text-decoration-line: none;
}

#dialog-select,
#dialog-loading,
#dialog-alert,
#dialog-confirm,
#dialog-prompt {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#dialog-loading-window,
#dialog-select-window,
#dialog-alert-window,
#dialog-confirm-window,
#dialog-prompt-window {
    padding: 0.5rem;
    background-color: white;
    margin: auto auto;
    position: relative;
    top: 30%;
    width: 80%;
    max-width: 25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

#dialog-loading pre,
#dialog-alert-window pre,
#dialog-confirm-window pre,
#dialog-prompt-window pre {
    word-break: break-all;
    font-size: 1rem;
    white-space: pre-wrap;
}

#dialog-loading div,
#dialog-select div,
#dialog-loding div,
#dialog-alert-window div,
#dialog-confirm-window div,
#dialog-prompt-window div {
    justify-content: center;
}

#dialog-select-window button,
#dialog-alert-window button,
#dialog-confirm-window button,
#dialog-prompt-window button {
    height: 1.7rem;
    min-width: 3rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: solid 0.01rem lightgray;
    margin: 0.125rem 0.25rem;
    background-color: rgba(0, 0, 0, 0);
}

#dialog-prompt-window input {
    height: 1.5rem;
    font-size: 1rem;
    flex-grow: 1;
}

#dialog-select-window select {
    height: 1.5rem;
    flex-grow: 1;
}

#dialog-loading img {
    max-width: 30%;
}

.box {
    width: 95%;
    display: flex;
    margin: 0.25rem auto;
}

.hcenter {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

input {
    margin: 0 0.125rem 0 0;
}

button,
input[type="button"] {
    cursor: pointer;
}

#audio-title {
    justify-content: center;
}

.audio-wrapper {
    border: solid 0.02rem silver;
    background-color: whitesmoke;
    height: 3rem;
    border-radius: 2rem;
    align-items: center;
    flex-shrink: 0;
}

.audio-wrapper button {
    border: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
}

.audio-control-container {
    flex-grow: 1;
    display: flex;
    height: 1rem;
    margin: 0 1rem;
    align-items: center;
}

.audio-control-container input {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 0;
    margin: 0 0.5rem;
    border: 0;
    background: rgba(0, 0, 0, 0);
}

#audio-progress-wrapper {
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;
}

.audio-progress-line {
    width: 100%;
    text-align: center;
}

#audio-progress-container {
    cursor: pointer;
    background-color: gainsboro;
    border-radius: 0.25rem;
    margin: 0 0.5rem;
    display: flex;
    overflow: hidden;
}

#audio-progress-buff {
    border-radius: 0.25rem;
    width: 0%;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
    transition: width 0.1s;
}

#audio-progress-bar {
    border-radius: 0.25rem;
    width: 0%;
    height: 0.5rem;
    display: inline-block;
    margin: 0;
    background-color: gray;
    transition: width 0.1s;
}

#audio-timestamp {
    color: gray;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

#search-bar button {
    margin: 0 0.5rem;
    padding: 0;
    font-size: 1.5rem;
    border: none;
}

#search-bar input[type="text"] {
    border: 0.02rem solid darkgray;
    border-radius: 0.5rem;
    height: 1.5rem;
}

.pages-header {
    display: flex;
}

.pages-header-wrapper {
    margin: 0.5rem 0rem 0 2rem;
}

.pages-header button {
    padding: 0;
    width: 4rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.25rem 0.25rem 0 0;
    border: 0.02rem solid gainsboro;
    border-bottom: none;
    font-size: 1rem;
}

.pages-div {
    display: none;
    margin: 0 auto;
    flex-direction: column;
    min-height: 28rem;
    border-radius: 0.25rem;
    border: solid 0.02rem lightgray;
    display: none;
}

.pages-div.active {
    display: flex;
}

.pages-div button {
    height: 1.5rem;
    border-radius: 0.5rem;
    border: solid 0.01rem lightgray;
    margin: 0.125rem 0.25rem;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0);
}

.pages-div li span {
    font-size: 1rem;
    margin: 0.125rem 0.25rem;
    word-break: keep-all;
}

.pages-div li span:first-of-type {
    flex-grow: 1;
    text-align: left;
    word-break: break-word;
}

#dirlist-dirs li span:last-of-type {
    color: gray;
    white-space: nowrap;
}

.pages-div li button {
    border: none;
    font-size: 1.25rem;
    line-height: 1rem;
    padding: 0;
    margin: 0 0.25rem;
}

.pages-header button.active,
.pages-div button.active,
.pages-div li.active {
    background-color: gainsboro;
}

.pager {
    display: flex;
}

.pager button {
    height: 1.5rem;
    min-width: 1.5rem;
    margin: 0 0.125rem;
    background-color: rgba(0, 0, 0, 0);
}

.pager input[type="text"] {
    margin: 0 0.125rem;
    text-align: center;
    width: 1.5rem;
}

.playlist-pager-container {
    justify-content: right;
}

#lib-search-box {
    flex-grow: 1;
    font-size: 1rem;
    height: 1.5rem;
    padding: 0.125rem 0.5rem;
}

#lib-music-list,
#playlist-music-list,
#dirlist-dirs {
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#lib-music-list li,
#playlist-music-list li,
#dirlist-dirs li {
    border: gray solid 0.065rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0rem 0rem 0.25rem 0rem;
    word-break: break-word;
    min-height: 1.5rem;
    padding: 0.125rem 0.5rem;
    display: flex;
    align-items: center;
}

.lib-pager-container {
    justify-content: right;
}

.custom-playlist-controls button {
    margin: 0 0.25rem;
}

.span-total {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: gray;
    margin: 0 0.25rem;
    flex-grow: 1;
    justify-content: end;
}
